* {
    margin: 0;
}

.div-one {
    background-image: url(img/image1.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.paralax-div-title {
    width: 40%;
    height: 70px;
    background-color: rgb(78, 78, 78);
    color: white;
    margin: 0 auto;
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;    
}

#paralax-title{
    padding: 10px;
    padding-top: 20px;
    letter-spacing: 20px;
    
}

.section-one {
    width: 100%;
    
    background-color: white;
    text-align: center;
    
}

.section-one h2 {
    padding-bottom: 20px;
}

.content-section-one {
    width: 70%;
    margin:  0 auto;
    padding-top: 30px;
    margin-bottom: 80px;
}

.background-image-two {
    background-image: url(img/image2.jpg);
    width: 100%;
    height: 30vh;
    background-size: contain;
}